<!DOCTYPE html>
<html>
    <head>
        <title> Retro_panel </title>
        <link rel="icon", type="image/x-icon" href="images.ico">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    
    <body>
        <div class="main">

            <h1> <span class="panel_head">Retro_panel</span> 
                <a class="exit" href="https://google.com">
                    <img src="img/msg_error-0.png" width="18px"></a></h1>
            <br>

            <div class="content">
                <div class="status">
                    
                    <h2> Status: <span id="bot_status">unknown</span> 
                        <img id="status_icon" src="img/computer_2-4.png" width="16px"> </h2>
                    
                    <p> 
                        <button id="on"  onclick="start_bot()"> on </button>
                        <button id="off" onclick="stop_bot()" > off </button>
                        
                        <br>
                        <span id="bot_status_dec"></span>
                        
                    </p>
                </div>
                <div class="side">
                    <p>
                        Currently implemented:
                        <ul>
                            <li> Afk</li>
                            
                        </ul>
                        Press "on" to activate the bot.
                    </p>
                </div>
            </div>
        </div>
    </body>
    <script src="js/index.js"> </script>
</html>