<!DOCTYPE html>
<html>
    <head>
        <title> Retro_panel </title>
        <link rel="icon", type="image/x-icon" href="images.ico">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    
    <body>
        <br>
        <div class="main">

            <h1><span class="panel_head">Retro_panel</span></h1>
            <br>

            <nav> Resources:
                <ul>
                    <li>
                        <a href="">>> Documentation.</a>
                    </li>
            </nav>
            
            </article>

            <div class="content">
                <div class="status">
                    <p> <span class="orange_title">Currently implemented:</span> </p>
                        
                            <p class="afk">Afk <br>
                            Press "on" to activate the bot. </p>
                    <h2> Status: <span id="bot_status">unknown</span> 
                        <img id="status_icon" src="img/computer_2-4.png" width="16px"> </h2>
                    
                    <p> 
                        <button id="on"  onclick="start_bot()"> on </button>
                        <button id="off" onclick="stop_bot()" > off </button>
                        
                        <br>
                        <span id="bot_status_dec"></span>
                        
                    </p>
                    <p> <span class="orange_title">Chat:</span> </p>
                        <ul class="chat" id="chat"></ul>
                        <input type="text" id="chat_box" placeholder=""></input>
                        <button id="send_msg"> + </button>
                </div>
            </div>
        </div>
        
    </body>
    <script src="js/index.js"> </script>
</html>